<main class="content100 sobreFlex">
      <section class="content">
          <h1>Artigos</h1>
          {% for artigo in artigos %}
              <a href="{{ artigo.link }}">
                  <article>
                      <div class="postList display">
                        <figure>
                            {{ artigo.imgUrl | raw }}
                        </figure>
                        <div class="dadosArtigos">                          
                            <h2>
                                {{ artigo.titulo }}
                            </h2>
                            <p class="data">{{ artigo.data }}</p>    
                        </div>
                      </div>
                  </article>
              </a>
          {% endfor %}
      </section>
  </main>