        section article div {
            margin: 10px;
            background-color: #f9f9f9;
            font-family: Arial, Helvetica, sans-serif;
            transition: scale, 80ms ease-in-out;
            padding: 10px;
        }
        section article div:hover {
            scale: 1.02;
            background: #cdcdcd;


        }

        aside {
            display: inline-block;
            float: right;
        }

        .ads-vertical {
            border: 1px dashed #000;
            width: 200px;
            height: 700px;
            margin: 10px;
            background-color: #cdcdcd;
        }

        .ads-horizontal {
            border: 1px dashed #000;
            width: 700px;
            height: 125px;
            margin: 0 auto;
            background-color: #cdcdcd;
        }
        section h1{
            margin:10px;
        }
        input[type='search']{
            margin: 10px;
        }
        img{
            border:1px solid #000;
            height: 400px;
        }
