main {
    width: 70%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

section h1{
    text-align: center;
}

.secaoDestaque{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.secaoDestaque div{
    width: 45%;
    height: 450px;
    padding: 10px;
    background: #f9f9f9;
}

.secaoDestaque div:hover{
    background: #cdcdcd;

}

.secaoDestaque .img{
    border: 1px dashed #000;
    width: 100%;
    height:70%;
}

.conteiner{
    padding: 10px;
    margin: 20px 0px;
    background: #f9f9f9;
}

.conteiner:hover{
    scale: 1.02;
    background: #cdcdcd;
}