@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #181415;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Anton', sans-serif;
    color: #fff;
}

header,
li {
    height: 70px
}

header>li {
    width: 10%;

}

header>div {
    width: 60%;
}

header div div {
    height: 50px;
    width: 130px;
    font-size: 35px;
    margin: 0 auto;
}

header ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

header li {
    width: 100px;
    /* padding: 25px 0px; */
    text-align: center;
}

header li:hover {
    border: 1px solid #464040;
}
section {
    width: 60%;
    margin: 0 auto;
}
header ul li a{
    text-decoration:none;
    color:#fff;
    display: block;
    width: 100px;
    height: 70px;
    padding-top: 25px;
}