        
        section{
            width: 60%;
        }
        
        main {
            display: flex;
            flex-direction: column;
            flex-direction: row-reverse;
        }
        
        section article div {
            margin: 10px;
            background-color: #f9f9f9;
            font-family: Arial, Helvetica, sans-serif;
            transition: scale, 80ms ease-in-out;
            padding: 10px;
        }
        section article div:hover {
            scale: 1.02;
            background: #cdcdcd;


        }

        aside {
            display: inline-block;
            float: right;
        }

        section h1{
            margin:10px;
        }
        input[type='search']{
            margin: 10px;
        }
        img{
            border:1px solid #000;
            height: 400px;
        }
