main {
    width: 60%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img{
    width: 90%;
    height: 475px;
    margin:0 auto;
}

.img figure{
    width: 100%;
    height: 100%;
    background-size: cover;
}

h1, h2{
    margin:30px
}
h1{
    text-align: center;
}

p{
    margin: 20px;
}
