main {
    width: 60%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

section h1{
    text-align: center;
}

figure h3{
    color:#cbcbcb
}

.secaoDestaque{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

.containDestaque{
    width: 375px;
    height: 350px;
    padding: 10px;
    background: #f9f9f9;
    transition: scale, 80ms ease-in-out;
}

.containDestaque:hover{
    scale: 1.02;    
}

.containDestaque .img{
    width: 100%;
    height: 75%;
}
.informacaoArtigo{
    margin: 50% 0px 0px 15px;
}
section a{
    text-decoration: none;
    color:#000;
    
}


.conteiner, .resumoDiario{
    padding: 10px;
    margin: 20px 0px;
    background: #f9f9f9;
    transition: scale, 80ms ease-in-out;
}

.conteiner:hover{
    scale: 1.02;
    background: #cdcdcd;
}
.resumoDiario:hover{
    scale: 1.02;
    background: #cdcdcd;
}
h1{
    text-align: center;
}